<div>
  <section class="pin_container">
    <div class="pin">
      <div class="pin__left">
        <img [src]="pinImage ?? this.currPin?.contentUrl">
      </div>
      <div class="pin__right">
        <h1>{{currPin?.title}}</h1>
        <p>{{currPin?.description}}</p>
        <div class="pin_user_info">
          <img [src]="pinUserAvatar ?? './../../assets/images/def-user-avatar-icon-1.png'">
          <p>{{pinUser?.user?.username}}</p>

        </div>
        <p>{{currPin?.destinationLink}}</p>
      </div>
    </div>
  </section>
</div>
