*{
  border-radius: 30px;

}

nav{
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}

.icon{
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: transparent;
}

.icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icon-box:hover{
  background-color: var(--gray);
}

.logo{
  width: 35px;
  height: 35px;
  cursor: pointer;
}


.button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
}

.button-active{
  background-color: black;
  color: var(--white);
}

.arrow-down{
  width: 25px;
  height: 20px;
}


.search-bar{
  width: 70vw;
  height: 5vh;
  border: none;
  background-color: transparent;
}

.search-bar-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
}

.search-bar:focus{
  border: none;
  outline: none;
}

.search-bar-box img{
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.message-icon{
  width: 25px;
  height: 25px;
}
