<nav>
  <img class="logo" src="./../assets/images/logo.png">
  <button class="button button-active">Home</button>
  <div #createMenuBtn>
    <button (click)="toggleCreateMenu()" class="button create-btn">Create<img class="arrow-down"
        src="./../assets/images/arrow-down-icon-1.png"></button>
  </div>
  <div class="search-bar-box" #search_bar_box>
    <img *ngIf="!search_bar_focus" class="icon" src="./../../assets/images/search-icon-1.png">
    <input class="search-bar" type="text" placeholder="Search..." (focus)="search_focus()">
  </div>
  <!-- Notifications icon -->
  <span class="icon-box"><img class="icon" src="./../assets/images/bell-icon-1.png"></span>
  <!-- Messages icon -->
  <span class="icon-box"><img class="icon message-icon" src="./../../assets/images/message-icon-1.png"></span>
  <!-- user icon(avatar) -->
  <span class="icon-box"><img class="icon" src="./../../assets/images/def-user-avatar-icon-1.png"></span>
  <!-- accounts and other paramteres icon -->
  <span class="icon-box"><img class="icon arrow-down" src="./../assets/images/arrow-down-icon-1.png"></span>
</nav>



<div *ngIf="createMenuDropped" class="navbar-createmenu" #navbarCreatemenu>
  <div class="navbar-createmenu__item"><a>Create Pin</a></div>
</div>

<div *ngIf="search_bar_focus">
  <div class="noneDisplay search-active">
  </div>
  <div class="search-active_box-container">
    <div class="noneDisplay search-active_box" #searchActiveBox>
    </div>
  </div>
</div>
